<form [formGroup]="angForm" novalidate>
    <div class="form-group">
        <label class="col-md-4">Title</label>
        <input type="text" class="form-control" formControlName="storytitle" #storytitle
            [(ngModel)]="business.storytitle" />
    </div>
    <div *ngIf="angForm.controls['storytitle'].invalid && (angForm.controls['storytitle'].dirty || angForm.controls['storytitle'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['storytitle'].errors.required">
            Title is required.
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Reference Url </label>
        <input type="text" class="form-control" formControlName="avatarurl" #avatarurl
            [(ngModel)]="business.avatarurl" />
    </div>
    <div *ngIf="angForm.controls['avatarurl'].invalid && (angForm.controls['avatarurl'].dirty || angForm.controls['avatarurl'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['avatarurl'].errors.required">
            Reference URL is required.
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Song </label>
        <textarea class="form-control" formControlName="song" #song [(ngModel)]="business.song"></textarea>
    </div>
    <div class="form-group">
        <label class="col-md-4">Story explain </label>
        <textarea class="form-control" formControlName="explainstory" #explainstory
            [(ngModel)]="business.explainstory"></textarea>
    </div>
    <!-- <div *ngIf="angForm.controls['explainstory'].invalid && (angForm.controls['explainstory'].dirty || angForm.controls['explainstory'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['explainstory'].errors.required">
            Story brief is required.
        </div>
    </div> -->
    <div class="form-group">
        <button (click)="updateBusiness(storytitle.value, avatarurl.value,song.value, explainstory.value)"
            [disabled]="angForm.invalid" class="btn btn-primary">Update Business</button>
    </div>
</form>